9724EN_02_Codes/FileTransfer/FileTransferClient/FileTransferClient/Service References/FileDownloader/FileTransferLibrary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileTransferLibrary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IFileTransferLibrary_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/FileDownloader/?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/FileDownloader/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8080/FileDownloader/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ResponseFile">
    <wsdl:part name="parameters" element="tns:ResponseFile" />
  </wsdl:message>
  <wsdl:message name="ResponseFile_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
    <wsdl:part name="byteStart" element="tns:byteStart" />
  </wsdl:message>
  <wsdl:message name="IFileTransferLibrary_UploadFile_OutputMessage" />
  <wsdl:message name="RequestFile">
    <wsdl:part name="parameters" element="tns:RequestFile" />
  </wsdl:message>
  <wsdl:portType name="IFileTransferLibrary">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferLibrary/UploadFile" name="ResponseFile" message="tns:ResponseFile" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferLibrary/UploadFileResponse" message="tns:IFileTransferLibrary_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileTransferLibrary/DownloadFile" name="RequestFile" message="tns:RequestFile" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileTransferLibrary/DownloadFileResponse" name="ResponseFile" message="tns:ResponseFile" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileTransferLibrary" type="tns:IFileTransferLibrary">
    <wsp:PolicyReference URI="#BasicHttpBinding_IFileTransferLibrary_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransferLibrary/UploadFile" style="document" />
      <wsdl:input name="ResponseFile">
        <soap:header message="tns:ResponseFile_Headers" part="FileName" use="literal" />
        <soap:header message="tns:ResponseFile_Headers" part="Length" use="literal" />
        <soap:header message="tns:ResponseFile_Headers" part="byteStart" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IFileTransferLibrary/DownloadFile" style="document" />
      <wsdl:input name="RequestFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResponseFile">
        <soap:header message="tns:ResponseFile_Headers" part="FileName" use="literal" />
        <soap:header message="tns:ResponseFile_Headers" part="Length" use="literal" />
        <soap:header message="tns:ResponseFile_Headers" part="byteStart" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransferLibrary">
    <wsdl:port name="BasicHttpBinding_IFileTransferLibrary" binding="tns:BasicHttpBinding_IFileTransferLibrary">
      <soap:address location="http://localhost:8080/FileDownloaderLibrary/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>